.komorka:nth-child(1) {
    clear: both;
    width: 30px;
}

.komorka:nth-child(2) {
    clear: both;
    width: 10%;
}

.komorka:nth-child(3) {
    clear: both;
    width: 20%;
}

.komorka:nth-child(4) {
    clear: both;
    width: 35%;
}

.komorka:nth-child(5) {
    clear: both;
    width: 15%;
}

.komorka:nth-child(6) {
    clear: both;
    width: 20%;
}
footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;

}