<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baza Kontaktów</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon-96x96.png">
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Główna
                            </a>
                            <a href="{{ url_for('main.kontakty_zarzadzaj') }}" class="navbar-item">
                                Kontakty
                            </a>
                            <a href="{{ url_for('main.helpdesk') }}" class="navbar-item">
                                Pomoc
                            </a>
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('main.kontakty') }}" class="navbar-item">
                                    Zarządzaj
                                </a>
                                <a href="{{ url_for('main.helpdesk_zarzadzaj') }}" class="navbar-item">
                                    HelpDesk
                                </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('auth.zaloguj') }}" class="navbar-item">
                                    Zaloguj
                                </a>
                                <a href="{{ url_for('auth.zarejestruj') }}" class="navbar-item">
                                    Zarejestruj
                                </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth.wyloguj') }}" class="navbar-item">
                                    Wyloguj
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
<footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
</html>