{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Dodaj</h3>
    <div class="box">
        <form method="POST" action="/dodaj">
            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="imie" placeholder="Imie" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="nazwisko" placeholder="Nazwisko" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="adres" placeholder="Adres">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required minlength="9" maxlength="9" class="input is-large" type="text" name="telefon" placeholder="Telefon">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="email" name="email" placeholder="E-Mail">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Zarejestruj</button>
        </form>
    </div>
</div>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
{% endblock %}