{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Edytuj</h3>
    <div class="box">
        <form method="POST" action="/edit/{{ data[0] }}">
            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="imie" placeholder="Imie" autofocus="" value="{{ data[1] }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="nazwisko" placeholder="Nazwisko" autofocus="" value="{{ data[2] }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="text" name="adres" placeholder="Adres" value="{{ data[3] }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required minlength="9" maxlength="9" class="input is-large" type="text" name="telefon" placeholder="Telefon" value="{{ data[4] }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="email" name="email" placeholder="E-Mail" value="{{ data[5] }}">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Edytuj</button>
        </form>
    </div>
</div>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
{% endblock %}