{% extends "base.html" %}

{% block content %}
    <h3 class="title">HelpDesk</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="table">
        <div class="box">
            <div>
                <table border="3" class="table">
                    <tr>
                        {% for naglowek in naglowki %}
                            <th class="komorka">{{ naglowek }}</th>
                        {% endfor %}
                    </tr>
                    {% for rekord in dane %}
                        <tr>
                        {% for data in rekord[0:6] %}
                            <th> {{ data }} </th>
                        {% endfor %}
                        <th>
                            <a>
                                <button class="delete" onclick="usun({{ rekord[0] }})"></button>
                            </a>
                            <a>
                                <button onclick="edytuj({{ rekord[0] }})">Edytuj</button>
                            </a>
                        </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
<script>
    function usun(ids) {
      var txt;
      var id = ids;
      if (confirm("Czy napewno chcesz usunąć")) {
        txt = "Usunięto";
        window.location.href="/delete/"+id
      } else {
        txt = "Anulowano";
      }
    }

    function edytuj(ids) {
       var txt;
       var id = ids;
       if (confirm("Czy chcesz edytować")) {
         txt = "Edytowano";
         window.location.href="/edit/"+id
       } else {
         txt = "Anulowano";
       }
    }

    function adres(arg) {
        alert('Adres to:\n'+arg)
    }
    </script>
{% endblock %}