{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        Baza kontaktów
    </h1>
    <a class="subtitle">
        by
        Maciej Jakubowicz
    </a>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
{% endblock %}