{% extends "base.html" %}

{% block content %}
    <h3 class="title">Kontakty</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="table">
        <div class="box">
            <div>
                <table border="3" class="table">
                    <tr>
                        {% for naglowek in naglowki %}
                            <th class="komorka">{{ naglowek }}</th>
                        {% endfor %}
                    </tr>
                    {% for rekord in dane %}
                        <tr>
                        {% for data in rekord[0:3] %}
                            <th> {{ data }} </th>
                        {% endfor %}
                        <th>
                            <a>
                                <button style="width: 100px" onclick="alert('{{ rekord[3] }}')">Adres</button>
                            </a>
                        </th>
                        {% for data in rekord[4:6] %}
                            <th> {{ data }} </th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
    <script>
    function adres(arg) {
        alert('Adres to:\n'+arg)
    }
    </script>
{% endblock %}