{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Rejestracja</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Idz do <a href="{{ url_for('auth.zaloguj') }}">strony logowania</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/zarejestruj">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="imie" placeholder="Imie" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="haslo" placeholder="Hasło">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Zarejestruj</button>
        </form>
    </div>
</div>
    <footer>
    <h5>Maciej Jakubowicz</h5>
    </footer>
{% endblock %}